

<nav class="navbar navbar-expand-lg navbar-light bg-light">	
	<div class="container">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    	<%= link_to 'Home', root_path, class:'navbar-brand' %>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		    	<li><%= link_to 'Nosotros', estaticas_nosotros_path%></li>
			    <li><%= link_to 'Contacto', estaticas_contacto_path %></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<% if !autor_signed_in? %>
				<li><%= link_to 'Iniciar Sesion', new_autor_session_path %></li>
				<li><%= link_to 'Unirse', new_autor_registration_path %></li>
				<% else %>
				<li><%= link_to 'Nuevo Articulo', new_articulo_path %></li>
				<li><%= link_to 'Cerrar Sesion', destroy_autor_session_path, method: :delete %></li>
				<li><%= link_to 'Editar Autor', edit_autor_registration_path %></li>
				<% end %>
		    </ul>

	    </div>
	</div>
</nav>