<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titulo) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% flash.each do |key, value| %>
      <li><&= value %></li>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
